scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
shortuuid
six
sklearn
smart-open
smmap
subprocess32
sysstat
termcolor
thop
threadpoolctl
tifffile
numpy==1.16.4
torch==1.10.1
torch-tb-profiler==0.1.0
torchaudio==0.10.1
torchsummary==1.5.1
torchtext==0.9.1
torchvision==0.11.2
tensorflow
tensorflow-estimator
tensorflow-gpu
google
joblib
pandas
argparse
logging
datetime